
<div class="pager">

  {% if show_previous %}
  <a href="{{ url_prefix}}page/{{ current_idx|add:-1}}" class="button previous">上一页</a>
  {% endif %}

  <div class="pages">

    {% if show_first %}
    <a href="{{ url_prefix}}">1</a>
    <span>&hellip;</span>
    {% endif %}

    {% for i in center_range %}
      {% ifequal i current_idx %}
        <a href="{{ url_prefix}}page/{{ i }}" class="active">{{ i }} </a>
      {% else %}
        <a href="{{ url_prefix}}page/{{ i }}">{{ i }} </a>
      {% endifequal %}
    {% endfor %}

    {% if show_last %}
      <span>&hellip;</span>
	  <a href="{{ url_prefix}}page/{{ max_idx }}"> {{ max_idx}} </a>
    {% endif %}

  </div>

  {% if show_next %}
  <a href="{{ url_prefix}}page/{{ current_idx|add:1}}" class="button next">下一页</a>
  {% endif %}

</div>
