{% load mptt_tags %}
<ul>
    {% recursetree nodes %}
        <li>
            {{ node.name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

<!-- comment form -->
<section>
  <header>
    <h3>留言</h3>
  </header>
  <section>
    <form method="post" id="comment" action="/comment/add/">
      <input type="text" name="" value="" />
      <input type="text" name="" value="" />
      <input type="text" name="" value="" />
      <textarea name="" id="" rows="" cols="" tabindex=""></textarea>

      <input type="submit" class="button" name="" value="提交" />
    </form>
  </section>
</section>
